/* You can add global styles to this file, and also import other style files */
html, body, ul, ol, dl, li, p, header, hgroup, section, article, aside, footer, figure, figcaption, nav, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

html, body{
  min-width: 1000px;
  width:100%;
  height: calc(100% + 28px);
  overflow-x: hidden;
  overflow-y: hidden;
}
.main{
  height: calc(100% - 70px);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  position: relative;
}
.header{
  height: 50px;
  display: flex;
  width: 100%;
  background-color: #99cc00;
}
.global_nav{
  width: 200px;
  height: auto;
  min-height: 100%;
  background: #434343;
  transition:width 0.15s;
  min-width: 0.15s;
  position: relative;
  &_hover{
    transition:
    color #F0F0E8,
    background #F0F0E8 0.5s;
    &:hover{
      .nav_itemName,
      &>span,
      &>a{
        color: #fff
      }
      background: #2a2a2a;
    }
  }
}
.content{
  transition: width 0.15s; 
  max-width: 0.15s;
  width: 100%;
  min-height: calc(100% - (48px + 50px));
  height: auto;
  position: relative;
  padding-bottom: 48px;  
  width: 100%;
  background-color: #eceff1;

  &_notPadding{padding-bottom: 0}

  &_inFooter{
    min-height: calc(100% - 48px);
    padding-bottom: 0;
  }
}
